.signupScreenBack{
    height: 50vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr ;
}
.signupScreen{
    background:  rgba(243, 101, 101) ;
    border-radius: 9px;
    align-items: center;
    display: grid;
    border: 2px solid black;
}

.signupScreen h1{
    text-align: center;
    padding: 10px
}

.signupScreen form{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 50px;
    justify-self: center;
}
.signupScreen button{
    margin-top: 20px;
}

.signupScreen p{
    margin-top: 20px;

    font-size: 17px;
}
.signupScreen a{
   cursor: pointer;
   font-weight: bold;

}

.pokemonSignupLoading {
    margin-top: 20px;
    justify-self: center;
  }