.container{
height: 100vh;
width: 100vw;
display: grid;
grid-template-columns: 28% 1fr  28%;
grid-template-rows: 100% ;
gap: 10px;
}


.abas{
  padding-left:25%;
  margin-top: 15px;
}

a{
  text-decoration: none;
  color: black;
}