.pokemonForm {
  padding-top: 10px;
  text-align: center;
  width: 50%;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: grid;
  gap: 20px;
}

.pokemonForm button {
  justify-self: center;
  color: white;
}

.pokemonFormLoading {
  justify-self: center;
}
